<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{views/common/masterlayout}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">



    <!-- ======Apartments-area======== -->
    <div class="apartments-area four bg-gray-color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="apartment-tab-area">
                        <ul role="tablist" class="nav nav-tabs apartment-menu hidden-xs hidden-sm">
                            <li class="active">
                                <a href="#popular-apartment" role="tab" data-toggle="tab">
                                    Popular                                </a>
                            </li>
                            <li>
                                <a href="#newest-to-oldest" role="tab" data-toggle="tab">
                                    Date                                    <span>Newest to oldest</span>
                                </a>
                            </li>
                            <li>
                                <a href="#oldest-to-newest" role="tab" data-toggle="tab">
                                    Date                                    <span>Older to newest</span>
                                </a>
                            </li>
                            <li>
                                <a href="#price-height-to-low" role="tab" data-toggle="tab">
                                    Price                                    <span>Low to high</span>
                                </a>
                            </li>
                            <li>
                                <a href="#price-low-to-heigh" role="tab" data-toggle="tab">
                                    Price                                    <span>high to low</span>
                                </a>
                            </li>
                            <li class="pull-right">
                                <a href="#" role="tab" class="dropdown-toggle" data-toggle="dropdown">Category<i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="?cat=">all</a></li>
                                    <li><a href="?cat=apartments">Apartments</a></li>
                                    <li><a href="?cat=factory">Factory</a></li>
                                    <li><a href="?cat=family-house">Family House</a></li>
                                    <li><a href="?cat=office">Office</a></li>
                                    <li><a href="?cat=sublet">Sublet</a></li>
                                    <li><a href="?cat=warehouse">Ware House</a></li>

                                </ul>
                            </li><!-- /.pull-right -->
                        </ul>

                        <div class="hidden-md hidden-lg">
                            <select class="apartment-menu-mobile">
                                <option value='0'>Popular</option>
                                <option value='1'>
                                    Date                                    <span>Newest to oldest</span>
                                </option>
                                <option value='2'>
                                    Date                                    <span>Older to newest</span>
                                </option>
                                <option value='3'>
                                    Price                                    <span>Low to high</span>
                                </option>
                                <option value='4'>
                                    Price                                    <span>high to low</span>
                                </option>
                                <optgroup label="Category">
                                    <option value='http://demo.softhopper.net/house-rent/rental-items/?cat='>all</option>
                                    <option value='http://demo.softhopper.net/house-rent/rental-items/?cat=apartments'>Apartments</option>
                                    <option value='http://demo.softhopper.net/house-rent/rental-items/?cat=factory'>Factory</option>
                                    <option value='http://demo.softhopper.net/house-rent/rental-items/?cat=family-house'>Family House</option>
                                    <option value='http://demo.softhopper.net/house-rent/rental-items/?cat=office'>Office</option>
                                    <option value='http://demo.softhopper.net/house-rent/rental-items/?cat=sublet'>Sublet</option>
                                    <option value='http://demo.softhopper.net/house-rent/rental-items/?cat=warehouse'>Ware House</option>
                                </optgroup>
                            </select>
                        </div>

                        <div class="tab-content">

                            <div role="tabpanel" id="popular-apartment" class="tab-pane fade in active">
                                <div class="row popular-posts">

                                    <!--    Repeatable loop-->
                                    <!-- <div class="col-md-4 col-sm-6">
                              <div class="apartments-content">

                                  <div class="image-content">
                                      <a href="http://demo.softhopper.net/house-rent/rental/family-apartment/">
                                          <img src="http://demo.softhopper.net/house-rent/wp-content/uploads/sites/7/2017/04/apartment-single-1-360x270.jpg"  alt="Family Apartment">                </a>
                                      </div>

                                      <div class="text-content">
                                          <div class="top-content">
                                              <h3><a href="http://demo.softhopper.net/house-rent/rental/family-apartment/">Family Apartment</a></h3>
                                              <span>
                                                  <i class="fa fa-map-marker"></i>
                                              Sydney                </span>

                                              <span>
                                                  <i class="fa fa-home"></i>
                                                  <a href="http://demo.softhopper.net/house-rent/rental_cat/apartments/">Apartments</a>
                                              </span>
                                          </div>

                                          <div class="bottom-content clearfix">
                                              <div class="meta-bed-room">
                                                  <i class="fa fa-bed"></i>
                                              3 Bedrooms                </div>
                                              <div class="meta-bath-room">
                                                  <i class="fa fa-bath"></i>
                                              2 Bathrooms                </div>
                                              <span class="clearfix"></span>
                                              <div class="rent-price pull-left">
                                                  $280                        <span> </span>
                                              </div>
                                              <div class="share-meta dropup pull-right">
                                                <ul>
                                                 <li class="dropup">
                                                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt"></i></a>
                                                     <ul class="dropdown-menu">
                                                         <li>
                                                             <a class="customer share" rel="nofollow" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://demo.softhopper.net/house-rent/rental/family-apartment/">
                                                              <i class="fa fa-facebook"></i>
                                                          </a>
                                                      </li>
                                                      <li>
                                                         <a class="customer share" rel="nofollow" title="Share on Twitter" href="https://twitter.com/home?status=http://demo.softhopper.net/house-rent/rental/family-apartment/" >
                                                             <i class="fa fa-twitter"></i>
                                                         </a>
                                                     </li>
                                                     <li>
                                                         <a class="customer share" rel="nofollow" title="Share on GooglePlus" href="https://plus.google.com/share?url=http://demo.softhopper.net/house-rent/rental/family-apartment/" >
                                                             <i class="fa fa-google-plus"></i>
                                                         </a>
                                                     </li>
                                                     <li>
                                                         <a class="customer share" rel="nofollow" title="Share on Linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=http://demo.softhopper.net/house-rent/rental/family-apartment/" >
                                                             <i class="fa fa-linkedin"></i>
                                                         </a>
                                                     </li>
                                                     <li>
                                                         <a rel="nofollow" title="Share on Pinterest" href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                                                          <i class="fa fa-pinterest-p"></i>
                                                      </a>
                                                  </li>
                                              </ul>
                                          </li>
                                          <li>

                                              <i class="fa fa-star-o property-favorites" data-nonce="b3ed6efdf2" data-fav-id="27" data-type="add" data-placement="bottom" data-toggle="tooltip" data-original-title="Add To Favorites"></i>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div> -->

                                    <!--   -->




                                    <div class="clearfix"></div>








                                    <div class="clearfix"></div>









                                    <div class="clearfix"></div>
                                </div><!-- /.row -->
                                <div class="ajax-load-more default-template-gradient text-center">
                                    <a href="http://demo.softhopper.net/house-rent/rental-items/page/2/" >More Posts</a>                                    </div>
                            </div><!-- /.popular-apartment -->











                            <!--   ******************************************************************************************************   -->









                            <div role="tabpanel" id="oldest-to-newest" class="tab-pane fade in">
                                <div class="row oldest-to-newest">





                                    <div class="col-md-4 col-sm-6">
                                        <div class="apartments-content">

                                            <div class="image-content">
                                                <a href="http://demo.softhopper.net/house-rent/rental/family-apartment-2/">
                                                    <img src="http://demo.softhopper.net/house-rent/wp-content/uploads/sites/7/2017/04/demo-image-rental-37-360x270.jpg"  alt="Sublet Apartment Two">                </a>
                                            </div><!-- /.image-content -->

                                            <div class="text-content">
                                                <div class="top-content">
                                                    <h3><a href="http://demo.softhopper.net/house-rent/rental/family-apartment-2/">Sublet Apartment Two</a></h3>
                                                    <span>
                        <i class="fa fa-map-marker"></i>
                    Sydney                </span>

                                                    <span>
                        <i class="fa fa-home"></i>
                        <a href="http://demo.softhopper.net/house-rent/rental_cat/sublet/">Sublet</a>
                    </span>
                                                </div><!-- /.top-content -->

                                                <div class="bottom-content clearfix">
                                                    <div class="meta-bed-room">
                                                        <i class="fa fa-bed"></i>
                                                        3 Bedrooms                </div>
                                                    <div class="meta-bath-room">
                                                        <i class="fa fa-bath"></i>
                                                        2 Bathrooms                </div>
                                                    <span class="clearfix"></span>
                                                    <div class="rent-price pull-left">
                                                        $130                        <span> </span>
                                                    </div>
                                                    <div class="share-meta dropup pull-right">
                                                        <ul>
                                                            <li class="dropup">
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt"></i></a>
                                                                <ul class="dropdown-menu">
                                                                    <li>
                                                                        <a class="customer share" rel="nofollow" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://demo.softhopper.net/house-rent/rental/family-apartment-2/">
                                                                            <i class="fa fa-facebook"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a class="customer share" rel="nofollow" title="Share on Twitter" href="https://twitter.com/home?status=http://demo.softhopper.net/house-rent/rental/family-apartment-2/" >
                                                                            <i class="fa fa-twitter"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a class="customer share" rel="nofollow" title="Share on GooglePlus" href="https://plus.google.com/share?url=http://demo.softhopper.net/house-rent/rental/family-apartment-2/" >
                                                                            <i class="fa fa-google-plus"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a class="customer share" rel="nofollow" title="Share on Linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=http://demo.softhopper.net/house-rent/rental/family-apartment-2/" >
                                                                            <i class="fa fa-linkedin"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a rel="nofollow" title="Share on Pinterest" href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                                                                            <i class="fa fa-pinterest-p"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>

                                                                <i class="fa fa-star-o property-favorites" data-nonce="b3ed6efdf2" data-fav-id="157" data-type="add" data-placement="bottom" data-toggle="tooltip" data-original-title="Add To Favorites"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!-- /.bottom-content -->
                                            </div><!-- /.text-content -->
                                        </div><!-- /.partments-content -->
                                    </div><!-- /.col-md-4 -->





                                    <div class="clearfix"></div>
                                </div><!-- /.row -->
                                <div class="price-low-ajax-load-more default-template-gradient text-center">
                                    <a href="http://demo.softhopper.net/house-rent/rental-items/page/2/" >More Posts</a>                                    </div>
                            </div><!-- /.popular-apartment -->
                        </div><!-- /.tab-content -->
                    </div><!-- /.apartment-tab-area -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.Apartments-area-->






    <footer class="footer-area" style="background-image:url(/images/footer-bg.png ); background-color: #ffffff">
        <footer class="container">
            <div class="row">
                <div class="widget-area sidebar-footer-1 col-sm-6 col-md-col-sm-4 col-md-4">
                    <div id="houserent_about_me-2" class="widget widget_houserent_about_me"><div class="widget-title-area"><h3 class="widget-title" style="color: #fca22a">About Us</h3></div>

                        <div class="widget-about-content">
                            <img th:src="@{/images/footer-logo.png}" alt="About Us">                <p>Renting, also known as hiring or letting, is an agreement where a payment is made for the temporary use of a good, service or property owned by another. A gross lease is when the tenant pays a flat rental amount and the landlord pays for all property charges regularly incurred by the ownership.</p>                <a href='#' class='button'>More</a>            </div><!-- /.widget-content -->
                    </div>                                    </div>
                <div class="widget-area sidebar-footer-2 col-sm-6 col-md-col-sm-6 col-md-col-sm-4 col-md-4">
                    <div id="houserent_rental_category-3" class="widget widget_houserent_rental_category"><div class="widget-title-area"><h3 class="widget-title" style="color: #fca22a">Place Category</h3></div>                                  <ul>
                        <li>
                            Flat for Rent
                            <a href="#">
                                Apartments                              </a>
                        </li>
                        <li>
                            Flat for Rent
                            <a href="#">
                                Factory                             </a>
                        </li>
                        <li>
                            Flat for Rent
                            <a href="#">
                                Family House                                </a>
                        </li>
                        <li>
                            Flat for Rent
                            <a href="#">
                                Office                              </a>
                        </li>
                        <li>
                            Flat for Rent
                            <a href="#">
                                Sublet                              </a>
                        </li>
                        <li>
                            Flat for Rent
                            <a href="#">
                                Ware House                              </a>
                        </li>
                    </ul>
                    </div>                                    </div>



            </div><!-- /.container -->

        </footer>





</th:block>


<th:block layout:fragment="footer"></th:block>

</body>
</html>